################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/skill_reviewer/__pycache__
/src/skill_reviewer.egg-info
*.env
